<h1>Edit you Category</h1>

<%= form_for @category do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :slug %>

  <%= f.submit "Edit" %>
<% end %>
    <br>

<%= link_to 'categories', categories_path %>
